<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
        <h2>Our Address</h2>

        121, Clear Water Bay Road<br>
        Clear Water Bay, Kowloon<br>
        HONG KONG <br>
        <span class="icon ion-ios-telephone"></span>: +852 1234 5678 <br>
        <span class="icon ion-printer"></span>: +852 8765 4321 <br>
        <span class="icon ion-android-mail"></span>: <a href="mailto:confusion@food.net">confusion@food.net</a>
      </div>
      <div class="button-bar">
        <a class="button button-positive"><span class="icon ion-android-call"></span> Call</a>
        <a class="button button-calm"><span class="icon ion-social-skype"></span> Skype</a>
        <a class="button button-balanced"><span class="icon ion-android-mail"></span> Email</a>
      </div>
    </div>
  </ion-content>
</ion-view>
